[data-testid="stSidebar"],
[data-testid="stBaseButton-headerNoPadding"] {
    display: none;
}

div[data-testid="stMainBlockContainer"] {
    padding-top: 32px;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, li, th, td, input, .st-ae {
    font-family: 'Baskerville Old Face', 'Libre Baskerville', 'Georgia', 'Palatino Linotype', serif !important;
}

p[class="pre-header"] {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
}

h1>span, h2>span {
    display: none !important;
}

a[class="invisible-link"] {
    text-decoration: none;
    color: inherit;
}